/* Condizioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
.col.w-17 {
    width: 17%;
}
.col.w-25 {
    width: 25%;
}
.col.w-32 {
    width: 32%;
}
.col.w-40 {
    width: 40%;
}
.col.w-50 {
    width: 50%;
}
.col.w-60 {
    width: 60%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.text-grey {
    color: #23272A;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: #23272A;
}
.bg-lightblue {
    background-color: #8EA1E1;
}
h1 {
    font-size: 55px;
    margin-bottom: 30px;
}
h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
h3 {
    font-size: 30px;
    margin-bottom: 30px;
}
h4 {
    font-size: 33px;
}
h5 {
    font-size: 17px;
}
.btn {
    border-radius: 30px;
    text-decoration: none;
}
.btn.small {
    font-size: 14px;
    padding: 9px 15px;
}
.btn.big {
    padding: 15px 30px;
    font-size: 18px;
}
.btn:hover {
    color: #2A5EE8;
}

/* Impostazione header */
header {
    background-color: #2A5EE8;
    margin-bottom: 100px;
    z-index: 1;
}
header .topbar {
    height: 75px;
    line-height: 75px;
}
header .hero {
    height: 490px;
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
    position: relative;
}


/* Stilizzazione TopBar */

/* Logo  */
header .topbar .logo {
    width: 110px;
    vertical-align: middle;
}
/* Main Menù */
.main-menu ul {
    list-style-type: none;
}
.main-menu li {
    display: inline-block;
    margin: 0 20px;
}
.main-menu li a {
    color: white;
    text-decoration: none;
}
.main-menu li a:hover {
    text-decoration: underline;
}


/* Stilizzazione hero */ 
.hero .content {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}
.hero .content p {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
}
.hero .content .btn .fa-long-arrow-alt-down {
    margin-right: 10px;
}
.hero .content .btn {
    margin: 0 10px;
}



/* Stilizzazione main */
main .col {
    padding: 0 45px;
}
main img {
    width: 100%;
}
main .star {
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 53%;
    margin: 0 auto;
    margin-bottom: 20px;
}
main .star h3 {
    position: relative;
    top: 35px;
}
main p {
    font-size: 19px;
    line-height: 30px;
}
main .waves.grey {
    background-image: url('../img/waves-grey.svg');
    padding-bottom: 125px;
}
main .waves.white {
    background-image: url('../img/waves-white.svg');
    bottom: 75px;
}
main .waves {
    padding-top: 100px;
    background-size: cover;
    position: relative;
}

/* Stilizzazione footer */
footer {
    padding-top: 80px;
    height: 600px;
}
footer .bottom-menu {
    margin-bottom: 30px;
    font-size: 15px;
}
footer .col {
    padding: 0 20px;
}
footer h4 {
    color: #7289DA;
    margin-bottom: 25px;
}
footer h5 {
    color: #7289DA;
}
footer .language {
    margin: 20px 0;
}
#bandiera {
    width: 20px;
    margin-right: 5px;
}
footer .col .social-icons {
    margin: 20px 0;
    font-size: 18px;
}
footer .col .fab {
    margin-right: 18px;
}
footer ul {
    list-style-type: none;
}
footer li {
    margin: 10px 0;
}
footer a {
    text-decoration: none;
    color: white;
}
.bottom-menu li a:hover {
    text-decoration: underline;
}
footer .logo {
    float: left;
    width: 110px;
}
footer hr {
    margin: 30px 0;
    border-color: #7289DA;
}
footer .registrati {
    float: right;
}