/* Condizioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
.col.w-25 {
    width: 25%;;
}
.col.w-50 {
    width: 50%;;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.text-grey {
    color: #23272A;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: #23272A;
}
.btn {
    border-radius: 30px;
    text-decoration: none;
}
.btn.small {
    font-size: 14px;
    padding: 9px 15px;
    height: 20px;
}
.btn.big {
    padding: 15px 30px;
    height: 30px;
    font-size: 18px;
    margin: 0 10px;
}
.btn:hover {
    color: #2A5EE8;
}

/* Impostazione header */
header {
    background-color: #2A5EE8;
}
header .topbar {
    height: 75px;
    line-height: 75px;
}
header .hero {
    height: 490px;
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
}


/* Stilizzazione TopBar */

/* Logo  */
#logo {
    width: 110px;
    vertical-align: middle;
}
/* Main Menù */
.main-menu ul {
    list-style-type: none;
    }
.main-menu li {
    display: inline-block;
    margin: 0 20px;
}
.main-menu li a {
    color: white;
    text-decoration: none;
}
.main-menu li a:hover {
    text-decoration: underline;
}


/* Stilizzazione hero */
.hero {
    position: relative;
}
.hero .content {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}
.hero .content h1 {
    font-size: 55px;
    margin-bottom: 30px;
}
.hero .content p {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 19px;
    line-height: 30px;
}
.hero .content .btn .fa-long-arrow-alt-down {
    margin-right: 10px;
}